 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    
}
.container {
    margin: 0 auto;
}
:root {
    --primary-color: #3F8EFC;
    --secondary-color: #87BFFF;
    --accent1-color: #fff;
    --accent2-color: #000;
}

.active {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;

}
.active p {
    text-align: center;
    padding: 1rem;
    margin:0;
}
#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

nav {
    background-color: var(--primary-color);
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 760px;

 }
 nav ul li {
    display: none;
 }
 .navigation a {
    display: block;
    text-align: left;
    padding: 1rem;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    text-decoration: none;
    color:var(--accent2-color);

    
}

.navigation a:hover,
.navigation a:active {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.show ul li {
    display: block;
}

h1{
    font-size: medium;
    padding: 2px;
}
main {
    text-align: center;
    border: 1px solid black;
}
.fig-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    
}

.fig-image {
  max-width: 600px;
  margin: 0 auto;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 1rem;
}
