* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    
}
.container {
    width: 700px;
    margin: 0 auto;
}
:root {
    --primary-color: #3F8EFC;
    --secondary-color: #87BFFF;
    --accent1-color: #fff;
    --accent2-color: #000;
}

.active {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;

}
.active p {
    text-align: center;
    padding: 1rem;
    margin:0;
}
  nav ul {
    display: flex;
    list-style: none;

 } 
 nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    color:var(--accent2-color);
    
}
h1{
    font-size: medium;
    padding: 2px;
}
main {
    text-align: center;
    border: 1px solid black;
}
main .fig-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    
}
footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 1rem;
}

